@model LayoutViewExample.Models.emp

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/MyView.cshtml";
}

<h2>Details</h2>

<div>
    <h4>emp</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ename)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.desig)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.desig)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.salary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.salary)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.empno }) |
    @Html.ActionLink("Back to List", "Index")
</p>
